* {
    box-sizing: border-box;
    font-size:1.0em; line-height:1.5;
    font-style:normal; font-weight: 400;
    text-decoration: none; color:#fff;
    margin:0; padding:0; list-style: none;
    font-family: "Noto Sans KR", sans-serif;
}
/* 스크롤바 전체 기본 꾸미기 */
body::-webkit-scrollbar {
	background:#333;
    width:2px; height:10px;
}
/* 스크롤바 막대 꾸미기 */
body::-webkit-scrollbar-thumb {
	background:#fff;
}